<!-- player_list.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player List</title>
</head>
<body>
    <h1>Player List</h1>
    <ul>
        {% for player in players %}
            <li>
                <a href="{% url 'player_profile' player_id=player.id %}">{{ player.full_name }}</a> - {{ player.status }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
